:root {
    --black: #141414;
    --dark-grey: #565656;
    --light-grey: #9e9e9e;
    --yellow: #fba92c;
    --white: #fff;
}

html{
    background-color: var(--yellow);
}
.heading{
    display: flex;
    justify-content: center;
}

.createTask{
    display: flex;
    width: 100%;
}


.addTaskInput{
    height:34px;
    width: 100%;
    font-size: large;
    background: var(--black);
    color: whitesmoke;  
    outline: none;
    border: 3px solid var(--dark-grey);
}
.addTaskInput:focus{
    border: 3px solid var(--light-grey);
}

.heading1{
    text-align: center;
}


/* Card box margin*/
.css-1v5z4dq-MuiPaper-root-MuiCard-root{
    margin:10px
}


.css-1d6wzja-MuiButton-startIcon{
    margin-right: 2px;
}
.deleteAllBtn{
    text-align: end;
}

.deleteAllBtn button{
    border: none;
    border-radius: 6px;
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    background-color: #d32f2f;
    color: white;
    cursor: pointer;
}
.deleteAllBtn button:hover{
    transform: scale(1.01);
}